<div class="text-center mt-[7.5rem] relative" id="Explore">
  <h1 class="text-4xl text-white">BLACK HOLES</h1>
</div>

<div class="mt-[8.75rem]">
  <div class="absolute w-5 h-5 rounded-full bg-white ml-[25rem]"></div>
</div>

<div class="flex items-center ml-[27.5rem] pt-2">
  <div class="border-t-2 w-[15rem] border-white"></div>
</div>

<div
  class="-mt-[7.5rem] ml-[45rem] border-2 w-[37.5rem] border-white px-3 py-3 flex space-x-6 rounded-2xl"
>
  <p class="text-4xl text-white">
    A black hole is a region of <br />spacetime where gravity is <br />
    so strong that nothing, <br />
    including light and other <br />
    electromagnetic waves, has <br />
    enough energy to escape it.
  </p>
</div>

<div class="mt-0">
  <img src="assets/Black Hole Logo 1.svg" />
</div>

<div class="text-center text-white">
  <h1 class="text-4xl">5TH DIMENSION</h1>
  <p class="text-3xl mt-5">
    To unravel the mystery of fifth-dimensional <br />
    beings, we must first grasp the notion of <br />
    dimensions. In Interstellar, dimensions are not <br />
    merely spatial, as we perceive them in our <br />
    everyday lives, but they include time as well. The <br />
    fifth dimension represents a level of <br />
    existence beyond our comprehension.
  </p>
</div>

<div class="mt-20 flex">
  <img src="assets/Group 17.svg" class="ml-[22.5rem]" />
  <img
    src="assets/Interstellar Wallpaper HD _ 4k Wallpaper on our active boards 1.svg"
    class="ml-10"
  />
</div>
