<div
  class="text-center mt-[3rem] sm:mt-[5rem] md:mt-[7.5rem] relative"
  id="Explore"
>
  <h1 class="text-2xl sm:text-3xl md:text-4xl text-white">BLACK HOLES</h1>
</div>

<!-- Кружок (виден только на lg) -->
<div class="hidden lg:block mt-[8.75rem] relative">
  <div class="absolute w-5 h-5 rounded-full bg-white ml-[25rem]"></div>
</div>

<!-- Линия (видна только на lg) -->
<div class="hidden lg:flex items-center ml-[27.5rem] pt-2">
  <div class="border-t-2 w-[15rem] border-white"></div>
</div>

<div
  class="-mt-[3rem] sm:-mt-[0rem] md:-mt-[7.5rem] ml-[2rem] sm:ml-[10rem] md:ml-[45rem] border-2 w-[18rem] sm:w-[25rem] md:w-[37.5rem] border-white px-3 py-3 flex space-x-6 rounded-2xl"
>
  <p class="text-xl sm:text-2xl md:text-4xl text-white">
    A black hole is a region of <br />spacetime where gravity is <br />
    so strong that nothing, <br />
    including light and other <br />
    electromagnetic waves, has <br />
    enough energy to escape it.
  </p>
</div>

<div class="mt-0 px-4 sm:px-0">
  <img src="assets/Black Hole Logo 1.svg" class="w-full sm:w-auto" />
</div>

<div class="text-center text-white px-4 sm:px-0">
  <h1 class="text-2xl sm:text-3xl md:text-4xl">5TH DIMENSION</h1>
  <p class="text-lg sm:text-xl md:text-3xl mt-3 sm:mt-5">
    To unravel the mystery of fifth-dimensional <br class="hidden sm:block" />
    beings, we must first grasp the notion of <br class="hidden sm:block" />
    dimensions. In Interstellar, dimensions are not
    <br class="hidden sm:block" />
    merely spatial, as we perceive them in our <br class="hidden sm:block" />
    everyday lives, but they include time as well. The
    <br class="hidden sm:block" />
    fifth dimension represents a level of <br class="hidden sm:block" />
    existence beyond our comprehension.
  </p>
</div>

<div
  class="mt-10 sm:mt-20 flex flex-col sm:flex-row items-center sm:items-start"
>
  <img
    src="assets/Group 17.svg"
    class="ml-0 sm:ml-[5rem] md:ml-[22.5rem] w-3/4 sm:w-auto mb-8 sm:mb-0"
  />
  <img
    src="assets/Interstellar Wallpaper HD _ 4k Wallpaper on our active boards 1.svg"
    class="hidden lg:block ml-10 w-auto"
  />
</div>
