<div
  class="mt-10 sm:mt-20 md:mt-30 lg:mt-40 flex flex-col sm:flex-row items-center text-white"
>
  <!-- Для мобильных - изображение сверху -->
  <img
    src="assets/Group_18.svg"
    class="order-1 sm:order-none w-1/2 sm:w-auto mb-8 sm:mb-0"
  />

  <div class="order-3 sm:order-none text-center sm:ml-20 md:ml-40 lg:ml-120">
    <h1 class="text-xl sm:text-2xl md:text-3xl">LAYOUTED by <br /></h1>
    <span class="text-2xl sm:text-3xl md:text-4xl">ALISHER ABDULLAEV</span>
  </div>

  <!-- Для мобильных - изображение снизу -->
  <img
    src="assets/Group_19.svg"
    class="order-2 sm:order-none w-1/2 sm:w-auto mt-8 sm:mt-0 sm:ml-20 md:ml-40 lg:ml-127"
  />
</div>
