<div class="relative" id="About">
  <img src="assets/download 1.svg" class="ml-[42.5rem]" />
  <img src="assets/ABOUT.svg" class="ml-[32.5rem] -mt-[12.5rem]" />

  <div class="relative ml-[35rem] mt-4" style="width: 500px; height: 120px">
    <div
      class="absolute w-14 h-4 bg-white"
      style="left: 5px; bottom: 110px"
    ></div>
    <div
      class="absolute w-8 h-4 bg-white"
      style="left: 80px; bottom: 110px"
    ></div>
    <div
      class="absolute w-7 h-5 bg-black"
      style="left: 220px; bottom: 110px"
    ></div>
    <div
      class="absolute w-7 h-5 bg-black"
      style="left: 250px; bottom: 110px"
    ></div>
    <div
      class="absolute w-7 h-5 bg-black"
      style="left: 280px; bottom: 110px"
    ></div>
    <div
      class="absolute w-8 h-5 bg-white"
      style="left: 400px; bottom: 110px"
    ></div>
    <div
      class="absolute w-8 h-5 bg-white"
      style="left: 490px; bottom: 110px"
    ></div>

    <div
      class="absolute w-5 h-5 rounded-full bg-white"
      style="right: 310px; bottom: 108px"
    ></div>
    <div
      class="absolute w-5 h-5 rounded-full bg-white"
      style="left: 115px; bottom: 108px"
    ></div>
    <div
      class="absolute w-5 h-5 rounded-full bg-white"
      style="left: 140px; bottom: 108px"
    ></div>
    <div
      class="absolute w-5 h-5 rounded-full bg-white"
      style="left: 340px; bottom: 110px"
    ></div>
    <div
      class="absolute w-5 h-5 rounded-full bg-white"
      style="left: 370px; bottom: 110px"
    ></div>
    <div
      class="absolute w-5 h-5 rounded-full bg-white"
      style="left: 165px; bottom: 108px"
    ></div>
  </div>

  <div class="text-center text-white mr-[27.5rem] mt-20">
    <h1 class="text-3xl mr-18">DIVE INTO A <br /></h1>
    <span class="text-6xl">JOURNEY</span>
    <h1 class="text-3xl mr-14">WITH US AND <br /></h1>
    <span class="text-6xl mr-4">EXPLORE</span>
    <h1 class="text-3xl mr-16">THE WORLD <br /></h1>
    <span class="text-6xl ml-[9.5rem]">BEYOND OURS</span>
  </div>

  <div>
    <img src="assets/Group_1.svg" class="-mt-[23.75rem] ml-[40rem] w-52" />
  </div>
  <div class="-mt-[36.25rem]">
    <img src="assets/Group 14.svg" class="ml-[65rem]" />
  </div>
  <div class="mt-[12.5rem] ml-[15.75rem]">
    <img src="assets/Group_2.svg" />
  </div>
</div>
